.player-info {
    margin: 10px;
    height: 100px;
    width: 80%;
    background-color: #cae8d5;
    border: 1px solid #084177;
}

.player-name {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
}

.property-values {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px;
}