.card-holder {
    flex: 1 auto;
    height: 100vh;
    background-color: #cae8d5;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #204051;
    margin: 25px;
}

.plane-card {
    width: 400px;
    height: 550px;
    border-radius: 25px;
    background-color: #d8ebb5;
    border: 1px solid #2b580c;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.plane-name {
    position: relative;
    top: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    color: #2b580c;
    margin: 10px;
    text-align: center;
}

.card-image {
    height: 200px;
    width: 320px;
    margin: 10px;
    background: center no-repeat;
    object-fit: contain;
    border: none;
}

.stats-div {
    width: 320px;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: #d9bf77;
     p {
         padding: 12px;
         margin: 0;
     }

     p:hover {
         background-color: wheat;
     }
}

.stat-header {
    font-weight: 600;
    margin-right: 10px;
}